
x64/Debug/Camera.obj
x64/Debug/Chunk.obj
x64/Debug/chunk.obj.enc
x64/Debug/EBO.obj
x64/Debug/GameObject.obj
x64/Debug/glad.obj
x64/Debug/main.obj
x64/Debug/main.obj.enc
x64/Debug/MinecraftCPP.Build.CppClean.log
x64/Debug/MinecraftCPP.exe
x64/Debug/MinecraftCPP.exe.recipe
x64/Debug/MinecraftCPP.ilk
x64/Debug/MinecraftCPP.log
x64/Debug/MinecraftCPP.pdb
x64/Debug/MinecraftCPP.tlog/CL.command.1.tlog
x64/Debug/MinecraftCPP.tlog/Cl.items.tlog
x64/Debug/MinecraftCPP.tlog/CL.read.1.tlog
x64/Debug/MinecraftCPP.tlog/CL.write.1.tlog
x64/Debug/MinecraftCPP.tlog/link.command.1.tlog
x64/Debug/MinecraftCPP.tlog/link.read.1.tlog
x64/Debug/MinecraftCPP.tlog/link.write.1.tlog
x64/Debug/MinecraftCPP.tlog/MinecraftCPP.lastbuildstate
x64/Debug/MinecraftCPP.vcxproj.FileListAbsolute.txt
x64/Debug/Perlin.obj
x64/Debug/Renderer.obj
x64/Debug/Shader.obj
x64/Debug/stb_image.obj
x64/Debug/Texture.obj
x64/Debug/VAO.obj
x64/Debug/VBL.obj
x64/Debug/VBO.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
.vs/MinecraftCPP/v17/.suo
.vs/MinecraftCPP/v17/Browse.VC.db
.vs/MinecraftCPP/v17/fileList.bin
.vs/MinecraftCPP/v17/ipch/AutoPCH/3136ba8cbf21e78c/CAMERA.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/35b1bba819b7102d/GLAD.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/72f8da7c149cacd7/ALLBLOCKS.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/76d449f401a9c8fa/STB_IMAGE.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/8a3f2b886bffba7a/MAIN.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/8b2980dd1e165596/TIME.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/8ba572ce6f540372/CUBE.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/9bffe3b7f5a29bb0/TEXTURE.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/a19ae819b6cb2c11/VAO.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/ad68f6aa6684d5bc/RENDERER.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/c8b4e9921353baf2/VBO.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/d46da4d6daba7ace/GAMEOBJECT.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/da22fd17e58b406f/EBO.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/dcecc993db8ebfd8/PERLIN.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/e5bd2a9a68eff9e3/VBL.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/fa2def0cc0dfbe6/SHADER.ipch
.vs/MinecraftCPP/v17/ipch/AutoPCH/fe3f6a5f70c90e62/ALLBLOCKS.ipch
.vs/MinecraftCPP/v17/Solution.VC.db
